body {
  text-align: center;
  background-color: #85c1f5;
}

h1 {
  font-size: 48px;
}

.content {
  display: flex;
  justify-content: center;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 24px 64px 24px 64px;
  background-color: #acacac;
  padding: 8px;
  border: 2px;
  border-style: solid;
  border-color: #000000;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  border: 2px;
  border-style: solid;
  border-color: #000000;
  padding: 0px;
  margin: 24px 64px 24px 64px;
  flex-shrink: 0;
  background-color: white;
}

.colorOptions {
  font-size: 24px;
  margin-bottom: 8px;
}

.customGrid {
  font-size: 24px;
}

.colorButtons > button {
  font-size: 16px;
}

.currentChoice {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 20px;
}

.selection,
.currentGrid {
  background-color: white;
  font-size: 20px;
}

.resetBtn {
  font-size: 24px;
}

.gridDiv {
  border: 1px;
  border-style: solid;
  border-color: #9e9ea563;
}

p {
  margin: 0;
}